<h1>Test:</h1>
<p><%= @test.title %></p>
<h1>Question:</h1>
<p><%= @question.body %></p>
<h1>Answers:</h1>
<Table>
  <tr>
    <th>Body:</th>
    <th></th>
  </tr>

  <%= render @question.answers %>
</Table>

<%= link_to "Back", test_path(@test) %>
