<h1>Badges list:</h1>
<Table>
  <tr>
    <th>Tilte:</th>
    <th>Image:</th>
    <th>Type:</th>
    <th>Value:</th>
    <th>Count:</th>
  </tr>

  <%= render @badges %>
</Table>
<%= link_to "Back", root_path %>
