<tr>
  <td><%= link_to category.title, category_path(category) %></td>
  <td><%= link_to "Edit", edit_category_path(category) %></td>
  <td><%= link_to "Delete", category_path(category), method: :delete, data: { confirm: "Are you sure?" } %></td>
</tr>
