
<p>
  <strong>Category:</strong>
  <%= @category.title%>
</p>

Tests list:
<Table>
  <% @category.tests.each do |test| %>
    <tr>
      <td><%= link_to test.title, test_path(test) %></td>
    </tr>
  <% end %>
</Table>
<%= link_to "Back", categories_path %>
