<p>
  <%= t('.description') %>
  <br>
  <%= link_to t('.link_to_thinknetica'), " https://thinknetica.com", target: '_blank' %>
</p>

<p>
  <%= github_url "KhIgorLe", "test_guru", target: '_blank' %>
  Igor
  <%= current_year %>
</p>
