<footer class="my-5 pt-1 text-muted text-center text-small">
  <p class="mb-1">
    <%= t('.description') %>
  </p>
  <p class="mb-1">
    &copy; <%= current_year %>
    <%= github_url "KhIgorLe", "test_guru", target: '_blank' %>
  </p>
  <ul class="list-inline">
    <li class="list-inline-item">
      <%= link_to t('.link_to_thinknetica'), " https://thinknetica.com", target: '_blank' %>
    </li>
  </ul>
</footer>
