<h1>Footer:</h1>
<p>
  Тут текст краткого описания проекта
  <br>
  <%= link_to "Учебный проект в онлайн-школе Thinknetica", " https://thinknetica.com", target: '_blank' %>
</p>

<p>
  <%= github_url "KhIgorLe", "test_guru", target: '_blank' %>
  Igor
  <%= current_year %>
</p>
