<% if user_signed_in?  %>
  <p> <%= t('.welcome', name: current_user.name) %> <%= link_to t('.start_page'), root_path %></p>
  <br>
  <%= link_to t('.logout'), destroy_user_session_path, method: "delete" %>
<% end %>
